.Palette{
    height: 100vh;
}

.Palette-colors{
    height: 88%;
}

.Palette-footer{
    height: 5%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}